
    .green {
       background-color: rgb(211, 22, 22);
       height: 84px;
       width: 1539px;
       
       



   }

   h1 {
       background-color: green;
       color: black;
       height: 48px;
       width: 241px;
       border-radius: 100px;
       text-align: center;
       padding: 4px;
       margin: 22px 660px;
       border: dotted pink 4px ;
       font-family: sans-serif;
       text-decoration: underline;
        
   }

   .red {
       color: blue;
       font-size: larger;

   }
   
   .blue{
       background-color: rgb(34, 107, 112);
       color: ghostwhite;
   }